<html>
<head>
    <title>Home - Bit Mascot</title>
</head>
<body>
    <link rel="stylesheet" href="../lib/css/site.css">
    <link href="../lib/bootstrap-5.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <header class="customHeader">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="homepage.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item text-white" href="#">Action</a></li>
                      <li><a class="dropdown-item text-white" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <!-- <nav class="navbar navbar-dark bg-primary">
            <img align="left" src="../lib/images/BitMascot.png" />
            <br />
            <a style="text-decoration-line: inherit; color: white; margin: 3px;" href="homepage.html">Home</a> &nbsp;
            <a style="text-decoration-line: inherit; color: white; margin: 5px;" href="../Views/login.php">Login</a>
          </nav>
        <nav align="right"> -->
            
        </nav>
    </header>
    <img src="../lib/images/office.jpg" style=" width: fit-content;   padding-left: 8px;" />
</body>
</html>
<header>
    <nav align="right">
        <img align="left" />
    </nav>
</header>